<h3>Client Name: @Model["client"].GetName()</h3>
<h3>Phone Number: @Model["client"].GetPhone()</h3>
<h3>Email Address: @Model["client"].GetEmail()</h3>
<h3>Stylist: @Model["stylist"].GetName()</h3>

<p><a href="/clients">View all Clients</a></p>
<p><a href="/client/new">Add a another Client</a></p>
<p><a href="/">Return Home</a></p>
