<h1>Hair Salon Client and Stylist Manager</h1>
<h2>Hi, there! This Web Application is designed to help YOU keep track of all the Hair Stylists you've hired and all of their Clients!</h2>
<h3>What would you like to do?</h3>
<p><a href="/stylists">View All Stylists</a></p>
<p><a href="/clients">View All Clients</a></p>
